<!DOCTYPE html>
<html>
<head>
  <title>Specmon</title>
  <%= stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.3/css/normalize.min.css" %>
  <%= stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.3/css/foundation.min.css" %>
  <%= stylesheet_link_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<h1>Specmon</h1>
<%= yield %>

<%= javascript_include_tag "application" %>
<%= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.3/js/foundation.min.js" %>

</body>
</html>
